#header {
    text-align:center;
}

#clockbody {
    width:80pc;
    border:1px solid;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.headercontrol {
    text-align: center;
}

.footer {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

#timer {
    grid-column: span 2;
    text-align:center;
}

