body {
    background-color: #aaa;
}

#main {
    font-family: oswald;
}

#header {
    font-size: 30px;
    text-align: center;
}

#title {
    padding-top: 40px;
    padding-bottom: 10px;
}

#clockbody {
    width: 40pc;
    height: 25pc;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr 2fr;
}

.headercontrol {
    text-align: center;
}

.timelimit {
    margin: 5px;
}

.settimebutton {
    margin: 8px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.settimebutton:hover {
    color: #aaa;
}

.top {
    align-self: end;
    font-size: 28px;
}

.footer {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.footercontrol {
    font-size: 40px;
    background-color: #333;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
}

.footercontrol:hover {
    color: #aaa;
}

#timer {
    grid-column: span 2;
    border-top: 10px solid #aaa;
    font-size: 60px;
    text-align:center;
}

